@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Space mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.animate-greeting {
  max-width: 40ch;
  text-align: center;
}

.animate-greeting span {
  display: inline-block;
  opacity: 0;
}

.animate-greeting span:nth-child(1) {
  animation: 3s ease-in 0s infinite fade-in;
}

.animate-greeting span:nth-child(2) {
  animation: 3s ease-in 0.1s infinite fade-in;
}

.animate-greeting span:nth-child(3) {
  animation: 3s ease-in 0.2s infinite fade-in;
}

.animate-greeting span:nth-child(4) {
  animation: 3s ease-in 0.3s infinite fade-in;
}

.animate-greeting span:nth-child(5) {
  animation: 3s ease-in 0.4s infinite fade-in;
}

.animate-greeting span:nth-child(6) {
  animation: 3s ease-in 0.5s infinite fade-in;
}

.animate-greeting span:nth-child(7) {
  animation: 3s ease-in 0.6s infinite fade-in;
}

.animate-greeting span:nth-child(8) {
  animation: 3s ease-in 0.7s infinite fade-in;
}

.animate-greeting span:nth-child(9) {
  animation: 3s ease-in 0.8s infinite fade-in;
}

.animate-greeting span:nth-child(10) {
  animation: 3s ease-in 0.9s infinite fade-in;
}

.animate-greeting span:nth-child(11) {
  animation: 3s ease-in 1s infinite fade-in;
}

.animate-greeting span:nth-child(12) {
  animation: 3s ease-in 1.1s infinite fade-in;
}

.animate-greeting span:nth-child(13) {
  animation: 3s ease-in 1.2s infinite fade-in;
}

.animate-greeting span:nth-child(14) {
  animation: fade-in 0.1s 1.4s forwards;
}

.animate-greeting span:nth-child(15) {
  animation: fade-in 0.1s 1.5s forwards;
}

.animate-greeting span:nth-child(16) {
  animation: fade-in 0.1s 1.6s forwards;
}

.animate-greeting span:nth-child(17) {
  animation: fade-in 0.1s 1.7s forwards;
}

.animate-greeting span:nth-child(18) {
  animation: fade-in 0.1s 1.8s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.box {
  background-color: transparent;
  perspective: 1000px;
}
.box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.box:hover .box-inner {
  transform: rotateY(180deg);
}
.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.box-front {
  background-color: #cccccc;
  color: #111111;
}
.box-back {
  color: #eeeeee;
  background-color: #111111;
  transform: rotateY(180deg);
}
